$def with (post, form)

<h2 style="text-align: center;">$post.name</h2>
$if post.image:
	<div style="text-align: center;"><img width=80 height=80 src="/static/images/$post.image"></div>
<form action="/edit/$post.mac" method="post" data-ajax="false">
    $:form.render()
</form>

