$def with (post)
<style>
.ui-li-aside { float: left; height:10%; width: 25%; text-align: right; }
</style>

<ul id="listview" data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Filter devices...">
<li>
<img width=80 height=80 style="position:absolute; top:0; bottom:0; margin:auto;" src="/static/images/all.png">
<fieldset class="ui-grid-a">
<div class="ui-block-a" style="width:78%">
<p>&nbsp;</p>
<h2>All devices ($len(post))</h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
<div class="ui-block-b" style="width:22%" align="right">

            <a data-ajax="false" href=/detail/all   class="ui-btn ui-icon-eye   ui-shadow ui-corner-all    ui-btn-icon-notext" style="height: 45px !important;width: 45px !important;"></a>
            <a data-ajax="false" href=/detail2/all  class="ui-btn ui-icon-heart ui-shadow ui-corner-all  ui-btn-icon-notext" style="height: 45px !important;width: 45px !important;">    </a>
</div>
</fieldset>
</li>
<li data-role="list-divider"></li>

$for host in post:
	$ img="Mobile-Android-Tablet-icon.png"
	$if host.image:
		$ img=host.image
	$if host.blocked:
		$ img="false.png"
	$if not host.name:
		$ img="new.jpg"
    <li value="$host.mac" image-value="/static/images/$img">
	<img width=80 height=80 style="position:absolute; top:0; bottom:0; margin:auto;" src="/static/images/$img">
	<fieldset class="ui-grid-a">
	<div class="ui-block-a" style="width:78%">
    <h2>$host.name</h2>
    <p>$host.vendor</p>
	<p>
	$if host.ip:
		IP: $host.ip.split('.')[3]
	$if host.ap:
		AP: $host.ap
	$if host.snr:
		Signal: $host.snr
	<br/>
	$dateStr(host.last_seen) (first: $dateStr(host.first_seen))
	</p>
	</div>
	<div class="ui-block-b" style="width:22%" align="right">
            <a data-ajax="false" href=/detail/$host.mac class="ui-btn ui-shadow ui-corner-all ui-btn-icon-notext ui-icon-eye " style="height: 45px !important;width: 45px !important;"></a>
            <a data-ajax="false" href=/detail2/$host.ip class="ui-btn  ui-shadow ui-corner-all ui-btn-icon-notext ui-icon-heart" style="height: 45px !important;width: 45px !important;"></a>
	</div>
	</fieldset>
	</li>


</ul>

<script>
jQuery(document).on('pageinit', function() {
window.deny=[];
window.allow=[];

jQuery('#gear').on('click', function() {
	//alert(jQuery(this).attr('value'));
	if ((window.allow.length >0) || (window.deny.length>0)) {
		console.log("post!");
		jQuery.post( "/block", { 'allow': window.allow.join(','),'deny':window.deny.join(',')} ).done(function(data){
			console.log("ano!!!");
				location.reload();
			});
	}else{
				location.reload();
	};

});



jQuery('#listview').on('click', 'li', function() {
	//alert("Works:"); // id of clicked li by directly accessing DOMElement property
	//alert(jQuery(this).attr('value'));
	 jQuery("#gear").removeClass("ui-btn-active");
	 jQuery(this).find("img").attr("src",jQuery(this).attr("image-value"));
	 var indexD = window.deny.indexOf(jQuery(this).attr('value'))
		 if (indexD > -1){
			window.deny.splice(indexD,1)
		 }
	 var indexA = window.allow.indexOf(jQuery(this).attr('value'))
		 if (indexA > -1){
			window.allow.splice(indexA,1)
		 }


	 jQuery("#gear")[0].text="Block " + window.deny.length + " Allow " + window.allow.length
		 if ((window.allow.length == 0) && (window.deny.length == 0)){
			jQuery("#gear")[0].text="Refresh";
		 }
});

jQuery('#listview').on('swipeleft', 'li', function() {
	 jQuery(this).find("img").attr("src","/static/images/false.png");
	 var indexD = window.deny.indexOf(jQuery(this).attr('value'))
		 if (indexD > -1){
		 }else{
		 
	 window.deny.push(jQuery(this).attr('value'));
		 
		 }
	 var indexA = window.allow.indexOf(jQuery(this).attr('value'))
		 if (indexA > -1){
			window.allow.splice(indexA,1)
		 }
	 jQuery("#gear")[0].text="Block " + window.deny.length + " Allow " + window.allow.length
});
jQuery('#listview').on('swiperight', 'li', function() {
	 jQuery(this).find("img").attr("src","/static/images/true.png");
	 
	 var indexA = window.allow.indexOf(jQuery(this).attr('value'))
		 if (indexA > -1){
		 }else{
			window.allow.push(jQuery(this).attr('value'));
		 }
	 
	 var indexD = window.deny.indexOf(jQuery(this).attr('value'))
		 if (indexD > -1){
			window.deny.splice(indexD,1)
		 }
	 jQuery("#gear")[0].text="Unblock " + window.allow.length + " Block " + window.deny.length
});
});

</script>
