$def with (post)

<ul data-role="listview" data-inset="true">
$for host in post:
    <li><a href="#">
    <img src="/static/images/Mobile-Android-Tablet-icon.png">
    <h2>$host.name</h2>
    <p>$host.vendor</p></a>
    <a data-ajax="false" href=/detail/$host.mac>detail</a> $host.mac Name: $host.name $host.vendor IP: $host.ip AP: $host.ap Signal: $host.snr Last: $dateStr(host.last_seen) <br/>
    </li>
</ul>


